body,html {
  margin: 0;
  padding: 0;
}
*{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
a{
  text-decoration: none;
  color: rgb(9, 55, 22)
}
a:visited{
  color: rgb(9, 55, 22)
}