.sidebar{
  flex: 0.45;
    border-right: 1px solid whitesmoke;
    height: 100vh;
    min-width: 300px;
    max-width: 350px;
    overflow-y: scroll;
    ::-webkit-scrollbar{
      display: none;
    }
    -ms-overflow-style: none;
    scrollbar-width: none;
  .sidebar_container{


    .sidebar_header{
      display: flex;
      position: sticky;
      top: 0;
      background-color: white;
      z-index: 1;
      justify-content: space-between;
      align-items: center;
      // padding: 15px;
      height: 80px;
      border-bottom: 1px solid whitesmoke;
      .sidebar_icons_container{

      }
    }

    .sidebar_search{
      display: flex;
      align-items: center;
      padding: 20px;
      border-radius: 2px;
      input {
        outline-width: 0;
        border: none;
        flex: 1;
      }
    }
    .sidebar_button{
      width: 100%;
      height: 50px;
      text-transform: uppercase;
      margin: 0;
      border: 0;
      font-size: 20px;
      background-color: white;
      border-top: 1px solid whitesmoke;
      border-bottom: 1px solid whitesmoke;

    }

    .sidebar_button:hover{
      background-color: rgb(240, 240, 240);
    }

    .sidebar_chat_list{
      .sidebar_container{
        display: flex;
        align-items: center;
        cursor: pointer;
        padding: 15px;
        word-break: break-word;
      }
      .sidebar_container:hover{
        background-color: rgb(240, 240, 240);
      }
      .sidebar_avatar{
        margin: 5px;
        margin-right: 15px;
      }
    }

  }
}